body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 1220px;
    padding: 0;
    margin: 0 auto;
}

.header {
    height: 40px;
    background: linear-gradient(to right, #4bc2c3, #4bc2fc);
    margin: 0;
    padding: 0;
    color: #fff;
}

.header__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
}

.header__text {
    font-size: 14px;
    line-height: 15px;
    max-width: 259px;
    padding-left: 41px;
}



.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.menu {
    margin-left: 61px;
    margin-right: 58px;
    background-color: #f7f7f7;
}

.menu__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.options {
    display: flex;
    align-items: center;
    height: 31px;
    max-width: 260px;
    margin-left: 26px;
}

.options__icon {
    opacity: 0.2;
}

.options__text {
    margin: 0;
    padding-left: 9px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #415160;
}

.city {
    width: 130px;
    border: none;
    background: transparent;
    outline: none;
}

.currency {
    border: none;
    background: transparent;
    outline: none;
    width: 110px;
}

.logo__text {
    margin-top: -20px;
    margin-left: 40px;
    width: 143px;
    font-size: 14px;
    line-height: 15px;
    opacity: 0.4;
    color: #000000;
}

.time {
    width: 94px;
    font-size: 16px;
    line-height: 20px;  
}

.phone__number {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    color: #415160;
}

.phone__link {
    text-decoration: none;
    border-bottom: 1px dashed #479CF5;
    color: #479CF5;
}

.enter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
}

.enter__cart {
    margin-top: -10px;
    margin-left: 19px;
    margin-right: 10px;
}

.nav__menu {
    display: flex;
}

.nav__menu-list {
    padding-left: 30px;
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav__menu-link {
    text-decoration: none;
    color: #415160;
}

.nav__currency {
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    color: #415160;
}

.products {
    background-color: #f2f2f2;
}

.products__inner {
    display: flex;
}

.products__column {
    margin-right: 27px;
    margin-top: 50px;
}

.products__column-list {
    list-style: none;
}

.products__column-item {
    margin-bottom: 15px;
}

.active {
    position: relative;
}

.products__column-img:active {
    border-radius: 5px;
    border: 2px solid #F57A71;
}

.products__photo {
    display: flex;
    position: relative;
    margin-top: 55px;
    margin-left: 10px;
}

.products__title {
    display: flex;
    margin-top: 23px;
    margin-left: 30px;
}

.products__img {
    margin-left: -100px;
    
}

.menu__slider-box {
    display: none;
}

.num {
    display: none;
}




.slider-btn {
    border: none;
    outline: none;
    background-color: transparent;
    height: 17px;
    display: flex;
    align-items: center;
}
.menu__slider-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__description-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: #415160;
    max-width: 500px;
}

.products__price-line {
    font-size: 36px;
    line-height: 40px;
    color: #415160;
    text-decoration-line: line-through;
    font-weight: 700;
    opacity: 0.3;
    margin-right: 19px;
}

.products__price {
    font-size: 36px;
    line-height: 40px;
    color: #F57A71;
    font-weight: 700;
    margin-left: 30px;
}

.products__price-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #415160;
    margin-right: 10px;
    
}

.products__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #415160;
    
}


.description {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(65, 81, 96, 0.4);
    max-width: 480px;
    margin-bottom: 45px;
    margin-top: 38px;
}

.products__description {
    border-bottom: 1px solid rgba(229,231,233,0.9);
    max-width: 580px;
    margin-left: 30px;
    margin-right: 60px;
}

.products__description-counter {
    display: flex;
    align-items: center;
}

.products__description-minus {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 40px;
    background: transparent;
    border-left: 2px solid #e9ebec;
    border-top: 2px solid #e9ebec;
    border-bottom: 2px solid #e9ebec;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 28px;
    color: #415160;
    padding-left: 7px;
}

.products__description-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 40px;
    background: transparent;
    border-right: 2px solid #e9ebec;
    border-top: 2px solid #e9ebec;
    border-bottom: 2px solid #e9ebec;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 28px;
    line-height: 22px;
    color: #415160;
    padding-left: 11px;
    padding-right: 15px;
}

.counter {
    border-top: 2px solid #e9ebec;
    border-bottom: 2px solid #e9ebec;
    width: 20px;
    height: 36px;
    background: transparent;
    color: #415160;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 22px;
}



.cart {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    background: #F57A71;
    border-radius: 5px;
    padding: 11px 70px 9px 50px;
    border: none;
    outline: none;
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    
    font-weight: 400;
}

.cart::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 163px;
    bottom: 0;
    right: 0;
    background: url(../img/icon1.svg) no-repeat;
}

.like {
    background: #e5e7e9;
    border-radius: 10px;
    padding: 12px 10px 10px 10px;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.products__var {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
}

.products__var-title {
    margin-right: 200px;
    font-size: 30px;
    line-height: 40px;
    color: #415160;
}

.products__var-cards {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.products__var-card {
    margin-left: 20px;
    position: relative;
    
}

.price-card {
    background-color: #fff;
    height: 30px;
    position: absolute;
    top: 120px;
    width: 131px;
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 24px;
    line-height: 20px;
    font-weight: 400;
    color: #415160;
    
}

.card-price {
    padding-left: 10px;
}

.card-text {
    font-size: 14px;
    line-height: 20px;
    padding-left: 1px;
    padding-right: 8px;
}

.price-card::before {
    content: '';
    width: 1px;
    height: 50px;
    background: rgba(229,231,233,0.9);
    position: absolute;
    left: 80px;    
}

.card-icon {
    padding-left: 14px;
    
}

.first {
    display: none;
}

.second {
    display: none;
}

.products__tabs:target {
    display: block;
}

.btn__nums {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.btn__number {
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #e5e7e9;
    width: 30px;
    height: 30px;
}

.history {
    background-color: #f2f2f2;
    padding-bottom: 60px;
}

.history__cards {
    display: flex;
}

.history__card {
    margin-right: 40px;
}

.history__card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55px;
    background-color: #fff;
    width: 260px;
    border-bottom: 2px solid #eceef0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #479CF5;
    left: 20px;
}

.history__price {
    height: 46px;
    width: 260px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.history__text {
    font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */


color: #415160;
padding-left: 10px;
}

.history__cart {
    font-size: 16px;
line-height: 20px;
/* or 125% */

display: flex;
align-items: center;
text-align: center;
text-decoration: none;
color: #F57A71;
}

.history__icon {
    padding-right: 10px;
}

.basket__tab {
    display: none;
}

.basket__tab:target {
    display: block;
}


.basket__tab-item {
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
}

.basket__tab-content {
    
    padding-bottom: 14px;
    margin-left: 20px;
}

.basket__item-trigger {
    display: block;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #415160;
    text-decoration: none;
    padding-bottom: 21px;
}

.basket__item1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 2px solid rgba(0,0,0,0.1);
    margin-left: 20px;
    margin-right: 20px;
}



.basket__item2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 2px solid rgba(0,0,0,0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.basket__item-title {
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #479CF5;
    text-decoration: none;
    font-weight: 700;
}

.basket__item-price {
    color: #415160;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.basket__item-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
    max-width: 800px;
    margin-top: -40px;
    margin-left: 200px;
}

.basket__cursor {
    cursor: pointer;
    display: flex;
}

.basket__btn-text {
    padding-right: 30px;
    font-size: 16px;
    line-height: 20px;
    color: #415160;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 2px solid rgba(0,0,0,0.1);
    padding-bottom: 30px;
    padding-top: 30px;
}

.form2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.basket__form-input {
    width: 140px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    line-height: 20px;
    color: #415160;
    background-color: #ededed;
    outline: none;
}

.basket__form-btn1 {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.basket__form-btn2 {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #F57A71;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 6px 30px 4px 30px; 
    cursor: pointer;
}

.basket__cards {
    padding-bottom: 70px;
}

.basket-card-text {
    padding-left: 20px;
    padding-top: 15px;
    font-size: 16px;
    line-height: 20px;
    color: #415160;
}

.back__btn {
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #4BC2C1;
    border: 1px solid #4BC2C1;
    border-radius: 5px;
    outline: none;
}

.go__btn {
    background-color: #F57A71;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    outline: none;
    color: #fff;
    border: 1px solid #F57A71;
}

.courier {
    padding-right: 20px;
}

.form__city-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #415160;
}

.form__choose {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    color: #415160;
}

.choose-text {
    font-size: 14px;
    line-height: 20px;
    color: #415160;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.form__whom {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #415160;
}

.form__name1 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #415160;
}

.form__input-text {
    max-width: 250px;
    height: 30px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    margin-right: 20px;
}

.form__plus {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form__textarea {
    resize: none;
    outline: none;
    min-height: 90px;
    border-radius: 5px;
    width: 580px;
    background: rgba(0, 0, 0, 0.07);
    margin-top: 30px;
}

.form__where {
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #415160;
}

.form__where span {
    color: #F57A71;
}

.choose__payment {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    color: #415160;
}

.payment__item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.payment__img {
    cursor: pointer;
}

.payment__img:hover {
    fill: #000;
    stroke: #000;
}

.payment__check {
    padding-left: 50px;
    max-width: 685px;
    display: flex;
    justify-content: space-between;
}

.complete__text {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #415160;
}

.complete__link {
    font-size: 16px;
    line-height: 20px;
    color: #479CF5;
    border-bottom: 1px dashed #479CF5;
    text-decoration: none;
}

.yandex {
    padding-right: 20px;
}

.sale {
    color: #F57A71;
}

.sale-price {
    text-decoration: line-through;
    color: #415160;
    opacity: 0.4;
    margin-left: 130px;
    padding-right: 10px;
}

.reviews__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #415160;
}

.reviews__cards {
    display: flex;

}

.reviews__cards-item {
    width: 250px;
    
    padding-right: 50px;
}



.reviews__cards-text {
    font-size: 16px;
    line-height: 20px;
    color: #415160;
    
}

.review__form-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #415160;
}

.reviews-img {
    width: 100%;
}

.review__form {
    max-width: 650px;
    background-color: #fff;
    border-radius: 10px;
}

.review__form-input {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-top: 30px;
    
}

.review-input {
    margin-top: 30px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    height: 30px;
    margin-left: 20px;
}

.file {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}

.review__textarea {
    margin-left: 20px;
    border: none;
}

.review__disc {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.review__form-btn {
    margin-left: 20px;
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F57A71;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 6px 30px 6px 30px;
}

.history1 {
    margin-bottom: 50px;
    margin-top: 68px;
}

.quote {
    margin-top: 35px;
    font-size: 16px;
line-height: 20px;
/* or 125% */


color: #415160;

mix-blend-mode: normal;
opacity: 0.4;
}

.quote1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.quote2 {
    padding-bottom: 55px;
}

.footer {
    background-color: #f2f2f2;
    padding-left: 60px;
    padding-right: 60px;
    
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__link {
    padding-left: 30px;
    text-decoration: none;
    color: #479CF5;
}

.footer__payment-link {
    padding-right: 30px;
}

.security {
    display: flex;
    padding-bottom: 25px;
}

.menu__btn {
    display: none;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  .basket-btn {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }